.contenido-inicio {
    height: auto;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

     &.img{
       animation-name: anima ;
       animation-iteration-count: infinite;
       animation-timing-function: ease;
       animation-duration: 2s;
       width: 100px;  
    }
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: black;
    text-align: center;
    transition: all 1.4s;

      &:hover{
        font-size: 60px;
        color: blue;
   }
}

  
.fotopri{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    animation-name: fotopri ;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 9s;

       &:hover{
          -webkit-animation: 10s aparicion 1;
   }   
}

.h2{
    font-family:'Permanent Marker', cursive ;
    font-size: 28px;
    text-align: center;
                    
        &:hover{
            font-size: 30px;
            color: blue;   
    }
}

.h3{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
}
